#back-img
  width 100%
  height 100%
  background-image  url(res/img/IMG_8286.jpg)
  background-size 100% 100%

.ui.grid
  position absolute
  width 100%

#timer
  position relative
  top 8rem

#timer > .head
  text-align right
  font-size 6rem
  font-weight bold
  color white
  padding-top 2rem
#timer > .num
  text-align center
  color #00B5AD
  font-size 8rem
#timer > .tail
  text-align left
  font-size 6rem
  font-weight bold
  color white
  padding-top 2rem
  
  


// vi:et:nowrap:sw=2:ts=2
