doctype html
html
  head
    meta(charset='utf-8')
    title The class day 
    link(rel='stylesheet', href='app.css')

  body
    #back-img-1
      .ui.grid
        .row#timer
          .seven.wide.column.head 我们毕业
          .three.wide.column.num 
          .six.wide.column.tail 天了！
        .row
          #video1
            video( controls, preload="auto")
              source(src='res/ClassDay_pop.MP4')
    #back-img-2
      .ui.grid
        .row
          .seven.wide.column
            h2.ui.header
              img.ui.image(src='res/img/school.png')
          .nine.wide.column
            h2.ui.header
              .content
                See See More







    script(src='app.js')

//- vi:et:nowrap:sw=2:ts=2
